# Virtual Environment
venv/
d*_env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Django migration files
*.sqlite3

# IDE settings (optional)
.vscode/
.idea/

# Logs
*.log

# Static and media files (if needed)
static/
media/
